body{
				position: relative;
				background-color: deepskyblue;
			}
			#biaoge{
				margin: 130px auto 0 auto;
				text-align: center;
				border: 1px solid black;
				border-collapse:collapse ;
			}
			#biaoge th{
				border: 1px solid black;
				width: 190px;
				height: 90px;
				text-align: center;
			}
			#biaoge td{
				border: 1px solid black;
				width: 190px;
				height: 90px;
				text-align: center;
			}
			div{
				width: 180px;
				margin: auto;
			}
			#choujiang{
				width: 180px;
				height: 90px;
				margin: 90px auto;
				
			}
