body{
	padding: 0;
	margin: 0;
}
html{
	box-sizing: border-box;
}
*,*::after,*::before{
	box-sizing: inherit;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
header,footer{
	border: 1px solid #33FFFF;
	height: 150px;
	margin: 10px 0;
}
#center{
	width: 1000px;
	margin: auto;
}
aside{
	width: 20%;
	min-height: 500px;
	border: 1px solid #33FFFF;
	float: left;	
}
main{
	border: 1px solid #33FFFF;
	width: 40%;
	float: left;
	margin:0 1%;
	min-height: 500px;
}
h1{
	text-align: center;
}
ul{
	display: inline;
}
li{
	display: block;
	float: left;
	padding: 65px 120px;;
}
a{
	color: #000079;
}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #FF2D2D;
}
a:active{
	color: #00A600;
}